transformers==4.46.3
timm
torch==2.5.1
torchvision==0.20.1
accelerate==1.1.1
einop
diffusers
ninja
pandas
matplotlib
pyarrow
accelerator
deepspeed
websockets
opencv-python-headless
swanlab
wandb
av
fvcore
